<!-- Description Section -->
    <section id="description">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Overview</h2>
                    <h3 class="section-subheading text-muted">Holmes Processing was born out of our need to rapidly process and analyze large volumes of threat intelligence data. The  distributed architecture allows the system to scale horizontally while also providing the flexible needed to evolve to the ever changing landscape of computer security. Whether you have thousands or millions of objects, Holmes Processing can easily help you extract useful information and generate meaningful intelligence.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6">
                    <center><img src="img/scale.svg" class="img-responsive"></center>
                </div>
                <div class="col-md-6">
                    <h4 class="service-heading">Fast</h4>
                    <p class="text-muted">3.1ms to process each sample on commodity hardware</p>
                    <br>
                    <h4 class="service-heading">Robust</h4>
                    <p class="text-muted">0 critical errors</p>
                    <br>
                    <h4 class="service-heading">Easy</h4>
                    <p class="text-muted">Services use a RESTful API and JSON</p>
                </div>
            </div>
        </div>
    </section>